/*
    FOOTER
*/
ul#menu-footer-navi {
    margin: 0;
    list-style-type: none;
}

#menu-footer-navi li {
    float: left;
}

#menu-footer-navi li:after {
    content: "|"; /* Insert content that looks like bullets */
    margin-left: 10px;
    margin-right: 10px;
}

#menu-footer-navi li:last-child:after {
    content: ""; /* Insert content that looks like bullets */
}

/*
    BANNER
*/
.swiper-container {
    width: 100%;
    height: 550px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}

h2.banner-title, h3.banner-subtitle {
    color: #fff;
    position: absolute;
}

h2.banner-title {
    bottom: 40px;
    left: 50px;
}

h3.banner-subtitle {
    bottom: 10px;
    left: 50px;
}