/*------------------------------------------------------------------

Imperial - CSS File

CHANGE COLOR STYLE

-------------------------------------------------------------------*/

/*------------------------------------------------------------------

[Table of contents]

1. Global Elements
2. Header 
	2.1. Navigation
	2.2. Slider
3. Afterheader
4. Content 
	4.1. Widgets
	4.2. Blog 
5. Sidebar
6. Footer Sidebar
7. Footer
8. Plugin

-------------------------------------------------------------------*/

/* 1. GLOBAL ELEMENTS
--------------------------------------------------------------------------------------*/
body {color:#7d7d7d;}
#outermainmenu{ background:url(../images/bg_menu.gif);}
#outerlogo{ background:url(../images/bg_logo.png); border-bottom:1px solid #ecebe6;}
#outermain-wrapper{ background:url(../images/bg_body.jpg)}

#home-showcasecontent { background:#f8f8f8; border-top:1px solid #fff}

#footersection{ background:url(../images/bg_footer.gif)}


a, .morelink, .colortext, a.colortext{color:#d95a35;}
a:hover, a.colortext:hover, .colortext a:hover, .morelink:hover{color:#333}
#logo h1 a, #logo h1 a:visited{color:#444;}


/* Heading & text */
h1, h2, h3, h4, h5, h6{color:#222;}

.grey555{color:#555555;}


/* 2. HEADER SECTION 
--------------------------------------------------------------------------------------*/

#logo h1 a, #logo h1 a:visited{color:#fff;}
#logo .desc{color:#332530;}


/*======= 2.1. Navigation =======*/

.sf-menu a, .sf-menu a:visited{ color:#fbfbfb; }/* 1st level */

/* 1st level */
.sf-menu a:hover, .sf-menu li.current-menu-item > a, .sf-menu li.current_page_item > a, .sf-menu li.current-menu-ancestor > a, .sf-menu li.current-menu-parent > a, .sf-menu li.current_page_ancestor > a, .sf-menu li.current_page_parent > a{color:#ababab;}
.sf-menu > li {
    background-image: url("../images/menu-border.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.sf-menu > li:first-child{ background:none;}

/* dropdown */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	background: rgb(42, 31, 39); /* For IE8 */
	background: rgba(42, 31, 39, .8);
	color:#e9e9e9;
}
.sf-menu li li{
	 border-bottom:1px dashed #81797d;
}
.sf-menu li li:last-child{ border-bottom:0px;}



/*=======  2.2. Slider =======*/

#slider .flex-caption{color:#7d7d7d}
#slider .slider-title, #slider .slider-title a, #slider .slider-title a:visited{color:#332530}
#slider .slider-title a:hover{color:#d95a35;}

#slider .flex-control-nav a {background: #767676; }
#slider .flex-control-paging li a:hover {background: #8d8c8c; }
#slider .flex-control-paging li a.flex-active {background: #8d8c8c; }



/* 3. AFTER HEADER SECTION 
--------------------------------------------------------------------------------------*/

#outerslider, #outerafterheader{ 
	background:url(../images/bg_title.jpg) repeat;
    border-bottom:15px solid #fff;
    box-shadow: 0 15px 0 0 rgba(255, 255, 255, 0.4) inset;
}

.pagetitle, .fa-icon-title{color:#222;}


/* 4. CONTENT SECTION 
--------------------------------------------------------------------------------------*/

.articlecontainer > div.clear{background: url(../images/icon-separator.png) no-repeat center;}
/* Images */

/* Form */
input[type="text"], input[type="email"],
textarea, input[type="password"], select{
	border:solid 1px #dfdfdf;
	color:#888;
	background:#efefef;
}
label{ color:#333;}
span.required{ color:#f00;}

/* Horizontal Line */
hr {
	color:#eaeaea;
	background-color:#eaeaea;
}

.separator{ 
	border-bottom: 1px solid #f5f5f5;
  	-moz-box-shadow: 0px 1px 0px #fff; /* Firefox 3.6 and earlier */
  	-webkit-box-shadow: 0px 1px 0px #fff; /* Safari and Chrome */
  	box-shadow: 0px 1px 0px #fff;
}

/* List */
ul.checklist li{ background:url(images/checklist.png) no-repeat 0 5px;}

/* Button */
.button, .more-link,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background-color: #F48147;
    border: 1px solid #F89B6C;
    box-shadow: 0 0 0 3px #F48147;
    color: #FFFFFF;
	
}
.button:hover, .more-link:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	 background-color: #382934;
    border: 1px solid #675262;
    box-shadow: 0 0 0 3px #382934;
    color: #FFFFFF;
}

#sidebar .button, #sidebar .more-link,
#footersidebar .button, #footersidebar .more-link, 
.widget-showcase .button, .widget-showcase .more-link,
#sidebar .button:hover, #sidebar .more-link:hover,
#footersidebar .button:hover, #footersidebar .more-link:hover,
.widget-showcase .button:hover, .widget-showcase .more-link:hover{color: #FFFFFF!important;}

/* Blockquote */
blockquote{color:#222;border-color:#e5e5e5;color:#332530;  background:url(images/quote.png) no-repeat 30px 15px !important;}
blockquote.left, blockquote.right  {background: url(images/quote2.png) no-repeat 15px 18px !important;}


/* Dropcaps */	
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#2e2e2e}
.dropcap2{color:#fff; background:#2e2e2e}		
.dropcap3{color:#fff; background:#2e2e2e}


/* Code */
code {
	border-left:4px solid #e9e9e9;
}

/* Tables */
th{border-bottom: 1px solid #f1f1f1;}
table {border: 1px solid #f1f1f1;border-bottom:0;}
tr td {border-bottom: 1px solid #f1f1f1;}
tr.odd td {background: #F2F7FC;}

/* Bottomline*/
.bottomline{border-color:#e7e7e7;}


/*======= 4.1. Widgets =======*/


/*frame*/
p.attachment img, .pfzoom, .pflink, .pfdetail, .frame{ border:10px solid #fff;  display:block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.img-circle, .klasik-features .img-container img {
-webkit-box-shadow:  0px 0px 0px 15px rgba(255, 255, 255, 1);
-moz-box-shadow:     0px 0px 0px 15px rgba(255, 255, 255, 1);
box-shadow:          0px 0px 0px 15px rgba(255, 255, 255, 1);
}



.flexslider-carousel ul.flex-direction-nav a.flex-next{
	background:url(../images/flex-next.png) no-repeat;
}
.flexslider-carousel ul.flex-direction-nav a.flex-prev{
	background:url(images/flex-prev.png) no-repeat;
}


/* Showcase */
.widget-homeshowcase ul li a{color:#332530}
.widget-homeshowcase ul li a:hover, .widget-showcase ul li a.current{color:#f48147;}

/* Featured */
.klasik-features .feature-title, 
.klasik-features .feature-title a, 
.klasik-features .feature-title a:visited{color:#332530;}
.klasik-features .feature-title a:hover{color:#f48147;}

#sidebar .klasik-features .feature-title, 
#sidebar .klasik-features .feature-title a, 
#sidebar .klasik-features .feature-title a:visited{color:#332530;}
#sidebar .klasik-features .feature-title a:hover{color:#f48147;}

#footersidebar .klasik-features .feature-title, 
#footersidebar .klasik-features .feature-title a, 
#footersidebar .klasik-features .feature-title a:visited{color:#dedede;}
#footersidebar .klasik-features .feature-title a:hover{color:#f48147;}


/* portfolio */
.klasik-pfnew-text .pftitle a, .klasik-pfnew-text .pftitle a:visited{color:#333;}
.klasik-pfnew-text .pftitle a:hover{color:#f48147;}
.klasik-pfnew-img .rollover{
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url(images/hover-zoom.png);
}

/* Latest News */
.klasik-latestnews-widget .recent-item { border-bottom:1px solid #e5e5e5}
.klasik-latestnews-widget .recent-item > div.icon{background: url(../images/icon-separator.png) no-repeat center;}
.klasik-latestnews-widget .twelve .recent-thumb .image { border:10px solid #fff;}
.klasik-latestnews-widget .twelve .recent-thumb{ border:0px;}
.klasik-latestnews-widget .recent-thumb .image{ border:10px solid #fff;}
.klasik-latestnews-widget .recent-thumb img{ border:0px;}
.klasik-latestnews-widget .recent-title,
.klasik-latestnews-widget .recent-title a, 
.klasik-latestnews-widget .recent-title a:visited{color:#332530;}
.klasik-latestnews-widget .recent-title a:hover{color:#f48147}
.klasik-latestnews-widget .smalldate{color:#7d7d7d;}
.klasik-latestnews-widget .date{background:url(images/icon-date.png) no-repeat 0 4px;}
.klasik-latestnews-widget .smalldate .text-sep{color:#D7D7D7}

#sidebar .klasik-latestnews-widget .recent-title,
#sidebar .klasik-latestnews-widget .recent-title a, 
#sidebar .klasik-latestnews-widget .recent-title a:visited{color:#332530;}
#sidebar .klasik-latestnews-widget .recent-title a:hover{color:#f48147;}
#sidebar .klasik-latestnews-widget .smalldate{color:#7d7d7d;}

#footersidebar .klasik-latestnews-widget .recent-title,
#footersidebar .klasik-latestnews-widget .recent-title a, 
#footersidebar .klasik-latestnews-widget .recent-title a:visited{color:#dedede;}
#footersidebar .klasik-latestnews-widget .recent-title a:hover{color:#f48147;}
#footersidebar .klasik-latestnews-widget .smalldate{color:#999;}
#footersidebar .klasik-latestnews-widget .recent-item > div.icon{ background:none}

/* Action */

.klasik-action-widget .action-button .button.left{color:#fff!important;}
.klasik-action-widget .action-button .button.left:hover{color:#fff!important;}

.klasik-action-widget .action-button .button.right{color:#fff!important;}
.klasik-action-widget .action-button .button.right:hover{color:#fff!important;}

#footersidebar .klasik-action-widget h1{ color:#dedede;}
#footersidebar .klasik-action-widget h2{ color:#dedede; }


/* Team */
.klasik-team-widget .team-title, 
.klasik-team-widget .team-title a, 
.klasik-team-widget .team-title a:visited{color:#332530;}
.klasik-team-widget .team-title a:hover{color:#f48147;}
.klasik-team-widget .team-image .image{ border:10px solid #fff;}
.klasik-team-widget .team-tag {color: #999;}

#sidebar .klasik-team-widget .team-title, 
#sidebar .klasik-team-widget .team-title a, 
#sidebar .klasik-team-widget .team-title a:visited{color:#332530;}
#sidebar .klasik-team-widget .team-title a:hover{color:#f48147;}


#footersidebar .klasik-team-widget .team-title, 
#footersidebar .klasik-team-widget .team-title a, 
#footersidebar .klasik-team-widget .team-title a:visited{color:#dedede;}
#footersidebar .klasik-team-widget .team-title a:hover{color:#f48147;}


/* Testimonials */
.klasik-testimonial-widget .testi-title{ color:#222;}
.klasik-testimonial-widget .testi-tag{ color: #999;}
.klasik-testimonial-widget .testi-img .image{
border:10px solid #fff;

}

#footersidebar .klasik-testimonial-widget .testi-title{ color: #dedede;}
#footersidebar .klasik-testimonial-widget .testi-tag{ color: #999;}


/*======= 4.2. Blog =======*/
.sticky .posttitle{background:url(images/sticky.png) no-repeat 2px 9px}

/* Blog Title */
.posttitle a, .posttitle a:visited{color:#332530;}
.posttitle a:hover{color:#f48147}
.articlecontainer{border-color:#e5e5e5;}
.postimg .thumbcontainer, .entry-gallery .flexslider, .entry-video .mediacontainer, .entry-audio .mediacontainer{border:10px solid #ffffff;}

.entry-comment{ background:#303030;}
.entry-comment a, entry-comment a:visited{color:#fff}
.comment-body .time, .comment-body .time a, .comment-body .time a:visited{color:#aaaaaa;}
.comment-body .time a:hover{color:#222222;}

#singlepost #nav-below{
	border-top: 1px solid #e7e7e7;
	-moz-box-shadow: inset 0 1px 1px -1px #fff; /* Firefox 3.6 and earlier */
	-webkit-box-shadow: inset 0 1px 1px -1px #fff; /* Safari and Chrome */
	box-shadow: inset 0 1px 1px -1px #fff;
}


a.more{
	background-color: #F48147;
    border: 1px solid #F89B6C;
    box-shadow: 0 0 0 3px #F48147;
    color: #FFFFFF;
}
a.more:hover{
	background-color: #382934;
    border: 1px solid #675262;
    box-shadow: 0 0 0 3px #382934;
    color: #FFFFFF;
}

.avatar{ background:#fff;}

.fn{color:#222;}
.tdate, .reply a, .reply a:visited{color:#aaa; }

.con-comment{border: 1px solid #e7e7e7;}

/* Post Format */
.entry-quote blockquote{background-color:#f7f7f7; color:#888888;}

#entry-author-info{border-color:#e7e7e7;}

.type-portfolio .gallery .gallery-icon{border:7px solid #fff;}
.gallery .gallery-icon{border:10px solid #fff;}
.gallery img:hover {background: white;}



/* 6. SIDEBAR 
-------------------------------------------------------------------*/

#sidebar .widget-title, .gallery-title{background:url(images/bg-widget-title.gif); border-left:6px solid #f48147; color:#fff;}
#sidebar li li a{color:#332530}
#sidebar li li a:hover, #sidebar li li a.current{color:#f48147;}

/* Tag */
.tagcloud a{background:#272727;}
.tagcloud a:hover{background:#3c3c3c;}

#sidebar .tagcloud a{background:#533f4f; color:#fff}
#sidebar .tagcloud a:hover{background:#f48147; color:#ffffff;}




.widget_calendar #wp-calendar tbody td:first-child, .widget_calendar #wp-calendar tfoot td:first-child{border-left:0px;}


/* Search */
#searchform{border-top:solid 1px #dadada}
#searchform .searcharea{background:#e1e1e1; border:solid 1px #cfcfcf;}
input.searchbutton{background:url(images/search-icon.png) no-repeat 0 0 !important; border:0px; box-shadow:none; }
input.searchbutton:hover{border:0px; box-shadow:none}




/* 6. FOOTER SIDEBAR SECTION 
--------------------------------------------------------------------------------------*/

#footersidebar{ color:#dedede}
#footersidebar .widget-title{color:#f8f8f8; border-bottom:solid 1px #6a5d68}
#footersidebar li a, #footersidebar li a:visited{color:#dedede}
#footersidebar li a:hover, #footersidebar li a.colortext:hover{color:#f48147}

.gallery-pic img{ border:1px solid #474747; color:#363636;}



/* 7. FOOTER SECTION 
--------------------------------------------------------------------------------------*/

#outerfooter{ background:url(../images/footer-opacity.png);}
#footer{color:#968e93;}
#footer a, #footer a:visited{color:#f48147;}
#footer a:hover{color:#d6703d; text-decoration:none;}
#toTop {
    background: url("../images/top.png") no-repeat scroll 0 0 transparent;
}


/* 8. PLUGINS SECTION 
--------------------------------------------------------------------------------------*/


/* WP Pagenavi */

.wp-pagenavi{}
.wp-pagenavi .pages{color:#332530;}
.wp-pagenavi a, .wp-pagenavi a:visited{color:#332530;}

.wp-pagenavi .current, .wp-pagenavi a:hover{ border:0px; color:#f48147;}