/* 
Klasik Framework - CSS File
Version: 1.0
THE GENERAL STYLE FOR KLASIK FRAMEWORK
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }

* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}



/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	margin:0 auto;
	padding:0;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* links */
a, a:visited {text-decoration: none; }
a:hover{text-decoration:underline;}
a img{border:none}


.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


/* float align */
.titlecenter .widget-title{text-align:center!important;}

.textalignleft.widget{ margin:0px; padding:0px; text-align:left}
.textalignleft,
.textalignleft.widget .widget-title,
.textalignleft.widget-container .widget-title{text-align:left!important;}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}

.textalignright.widget{ margin:0px; padding:0px; text-align:right}
.textalignright,
.textalignright.widget .widget-title,
.textalignright.widget-container .widget-title{text-align:right!important;}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
	margin-top: 4px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.textaligncenter.widget{ margin:0px; padding:0px; text-align:center}
.textaligncenter,
.textaligncenter.widget .widget-title,
.textaligncenter.widget-container .widget-title{text-align:center!important;}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone
{
	margin-bottom: 25px;
}

/* Text elements */
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px 30px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}

p {
	margin-bottom:20px;
	font-size: 100%;
}

ul {
	list-style: disc;
	margin: 0 0 18px 1.5em;
}
ul li, ol li{ padding-top:5px; padding-bottom:5px;}
ol {
	list-style: decimal;
	margin: 0 0 18px 2.2em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote:before{
	content: open-quote;
	position: absolute;
	top: 0;
	left: 0;
	font-family: Georgia, serif;
	font-size: 4em;
	line-height: 1;
	margin: 0;
	vertical-align: -0.4em;
}
blockquote {
	quotes: "\201C" "\201C" "\201C" "\201C";
    clear: both;
    font-style: italic;
    line-height: 25px;
    margin: 0 0 20px 0;
    padding: 0 10px 0 30px;
	position:relative;
	font-size: larger;
}

	
blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:0px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 30px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}
	
blockquote p{ margin:0px;}
blockquote div{}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}

code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	padding:15px 10px;
}

pre {
	border-left:solid 4px #ebebeb;
	line-height: 18px;
	margin-bottom: 18px;
	padding:20px;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
.gone{display:none;}

/* Separator */
.spacer{
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:center;
	width:100%;
	clear:both;
}
.separator {
	display:block;
	height:20px;
	padding:0 0;
	margin-bottom:44px;
	text-align:center;
	width:100%;
	clear:both;
}



/* GALLERY
-------------------------------------------------------------- */
#content .gallery {	margin: 0 auto 1.625em;}
#content .gallery.row{margin:0px -15px;}
#content .gallery a img {border: none;display:block;}
.gallery .columns{margin-bottom:20px;}

.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {
	float: left;
	margin:0 0 20px 0;
	text-align: center;
}

.gallery-columns-1 .gallery-item { width: 100%; margin-right:0% }

.gallery-columns-2 .gallery-item { width: 49%; margin-right:2% }
.gallery-columns-2 .gallery-item:nth-of-type(2n+2){margin-right:0;}

.gallery-columns-3 .gallery-item { width: 32%; margin-right:2% }
.gallery-columns-3 .gallery-item:nth-of-type(3n+3){margin-right:0;}

.gallery-columns-4 .gallery-item { width: 23.444%; margin-right:2%}
.gallery-columns-4 .gallery-item:nth-of-type(4n+4){margin-right:0;}

.gallery-columns-5 .gallery-item { width: 18.333%; margin-right:2%}
.gallery-columns-5 .gallery-item:nth-of-type(5n+5){margin-right:0;}

.gallery-columns-6 .gallery-item { width: 15.655%; margin-right:1%}
.gallery-columns-6 .gallery-item:nth-of-type(6n+6){margin-right:0;}

.gallery-columns-7 .gallery-item { width: 13.244%; margin-right:1%}
.gallery-columns-7 .gallery-item:nth-of-type(7n+7){margin-right:0;}

.gallery-columns-8 .gallery-item { width: 11.144%; margin-right:1%}
.gallery-columns-8 .gallery-item:nth-of-type(8n+8){margin-right:0;}

.gallery-columns-9 .gallery-item { width: 10%; margin-right:1%}
.gallery-columns-9 .gallery-item:nth-of-type(9n+9){margin-right:0;}

.gallery-columns-10 .gallery-item { width: 9%; margin-right:1%}
.gallery-columns-10 .gallery-item:nth-of-type(10n+10){margin-right:0;}

.gallery img { margin:0px auto 12px;}
.gallery img:hover {
	background: white;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	margin: 0 0 12px;
	font-size:14px; line-height:20px;
}
.gallery dl, .gallery dt { margin: 0; }
.gallery br+br { display: none; }



/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%; margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;text-transform:uppercase;}
td{padding:10px;}
tfoot td{border:0px;}
th,tr:hover{}
table {
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	padding: 6px 24px;
}
tr.odd td {}

/* BLOG STYLE
-------------------------------------------------------------- */
#nav-below {
    margin: 0px 0 30px 0;

}

#singlepost .posttitle{ display:none}
#searchresult .post{ margin-bottom:0px}
#singlepost .entry-links .posttitle{ display:inline !important;}

.pagedesc p{ margin:0px; display:inline-block}

/* comments */
.zero-comments{ display:none}
.com-link, .com-reply{ display:inline-block}
.com-link a, .com-reply a{ text-decoration:underline;}
.com-link a:hover, .com-reply a:hover{ text-decoration:none}
.com-link{ padding:0 10px 0 0}

.avatar {
	width:53px;
	height:53px
}

/* Tag */
.entry-tag {
    padding: 10px 0;
	font-size:12px;
}

.tag-items {
    display: inline;
}

.tag-items span {
    display: inline-block;
    padding: 0px 5px 0 0;
}


.quote-tag{ display:inline-block}
.quote-tag .tags:before {
    content: "-";
    cursor: default;
    margin: 0 4px;
}


/* Pages */
.page-links{ font-size:12px;}
.page-links span {
    display: inline-block;
}

/* Post Format */
.flexslider .slides{ overflow:hidden}
article .gallery-list.row{margin-top:-15px;}
.entry-gallery .gallery-list.row{margin-top:-7px;}
article .gallery-list .columns{padding-bottom:15px; padding-top:15px;}
article .gallery-list img{display:block;}
.entry-quote blockquote{padding:22px 28px 22px 65px; background-position:28px 28px; font-size:16px; margin:0px 0px 28px 0px; position:relative;}
.entry-quote .quotearrow{background-image:url(images/quotearrow.png); background-repeat:no-repeat; background-position:0px 0px; height:13px;position:absolute; bottom:-13px;left:36px; width:100%;}
.entry-quote .frame{display:block; float:left; margin-right:10px; width:40px; height:40px;}
.entry-quote .frame img{display:block;}
.entry-quote .info{display:inline-block;}
.entry-quote .info.withimg{padding-top:10px;}
.mediacontainer{margin-bottom:13px;}
.mediacontainer audio{width:100%;}
.mediacontainer iframe, .mediacontainer object, .mediacontainer video{width:100%; height:350px;}
article .flexslider{background:none; box-shadow:0px 0px; padding:0px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border:0px; margin:0px; overflow:hidden}
article ul.flex-direction-nav li{ display:block; padding:0px;}
article ul.slides > li{padding:0px;}
article ul.flex-direction-nav a{display:block;  position:absolute; top:50%; margin-top:-23px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; width:46px; height:46px; background-repeat:no-repeat; background-position:center; text-indent:-9999px;}
article ul.flex-direction-nav .flex-prev{background-image:url(../images/slider-arrow-left.png); left:30px!important; background-position:center;}
article ul.flex-direction-nav .flex-next{background-image:url(../images/slider-arrow-right.png); right:30px!important; background-position:center;}
article ul.flexslider:hover .flex-next {opacity: 0.8; right: 30px;}
article ul.flexslider:hover .flex-prev {opacity: 0.8; left: 30px;}
article ul.flex-direction-nav a{background-color:rgba(0,0,0,0.5);}
article ul.flex-direction-nav a:hover{background-color:rgba(0,0,0,0.75);}
article .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */

/* Flexslider navigation*/
article .flex-direction-nav{display:block;}
.single article .flex-direction-nav{display:block;}

article .flex-control-nav{display:none;}
.single article .flex-control-nav{display:none;}

article .flex-control-nav {
	width: auto;
	position: absolute;
	bottom: 0;
	right:0;
	margin:0 17px 0 0;
	text-align: right;
	z-index: 5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
article .flex-control-paging li a{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
article .flex-control-nav a {
	cursor: pointer;
	display: inline-block;
	height: 11px;
	width: 11px;
	position: relative;
	text-align: left;
	text-indent: 9999px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
article .flex-control-nav li {
	margin: 0 4px 8px 4px;
	padding:0;
	display: inline-block;
	zoom: 1;
}


.format-status .entry-header h1{ font-size:16px; line-height:normal; margin:0px 0px 10px 0px;}
.format-status .entry-header h2{ font-size:12px; line-height:normal;}
.format-status .entry-header header{display:inline-block;}
.format-status .entry-header img{float:left; margin-right:18px;}
.format-status .entry-content{clear:both;}



/* POSITION ON THEME
-------------------------------------------------------------- */

#maincontent-container .all-widget-wrapper .container,
#footersidebar .all-widget-wrapper .container{ padding:0px!important;}

.all-widget-container .opacity{ padding:0px 0;}

#sidebar .all-widget-wrapper{ padding:0px; margin:0px;}
#footersidebar .all-widget-wrapper{ padding:0px; margin:0px;}
.panel-grid .all-widget-wrapper{ padding:0px; margin:0px;}

.widget-maintop .widget-container,
.widget-mainbottom .widget-container,
.widget-contenttop .widget-container,
.widget-contentbottom .widget-container { 
  	margin: 0 auto;
    max-width: 1170px;
}

.widget-maintop .widget-container,
.widget-mainbottom .widget-container{ padding:0px 0 40px;}


.widget-contenttop .widget-container,
.widget-contentbottom .widget-container{ padding:0px 0 40px;}


.widget-maintop .all-widget-container.fullwidth .widget-title,
.widget-mainbottom  .all-widget-container.fullwidth .widget-title{ padding:0px 15px}

.widget-maintop .all-widget-container.fullwidth .frame-filter,
.widget-mainbottom  .all-widget-container.fullwidth .frame-filter{ padding:0px 15px}

.widget-maintop .all-widget-container.fullwidth .page-numbers-wrapper,
.widget-mainbottom  .all-widget-container.fullwidth .page-numbers-wrapper{ padding:0px 15px}

.panel.widget > ul,
.widget-maintop > ul, 
.widget-contenttop > ul, 
.widget-contentbottom > ul,
.widget-mainbottom > ul,
.widget-contentcolumn1 > ul,
.widget-contentcolumn2 > ul,
.widget-contentcolumn3 > ul,
.widget-contentcolumn4 > ul
{margin:0px; padding:0px; list-style-type:none;}



.widget-maintop .widget-container > ul, 
.widget-contenttop .widget-container > ul, 
.widget-contentbottom .widget-container > ul,
.widget-mainbottom .widget-container > ul,
.widget-contentcolumn1 .widget-container > ul,
.widget-contentcolumn2 .widget-container > ul,
.widget-contentcolumn3 .widget-container > ul,
.widget-contentcolumn4 .widget-container > ul
{margin:0px; padding:0px; list-style-type:none;}


.panel.widget > ul li,
.widget-maintop > ul li, 
.widget-contenttop > ul li, 
.widget-contentbottom > ul li,
.widget-mainbottom > ul li,
.widget-contentcolumn1 > ul li,
.widget-contentcolumn2 > ul li,
.widget-contentcolumn3 > ul li,
.widget-contentcolumn4 > ul li
{margin:0px; padding:0px; list-style-type:none;}


.widget-title, .widgettitle{
	font-size:14px;
	letter-spacing: 1px;
	display:block;
	
}

.widget-subtitle{
	font-size:13px;
	text-transform:none;
	display:block;
}

.widget-title .widget-subtitle-wrap .line{ display:none; }


#sidebar .widget-title .line-wrap .line,
#footersidebar .widget-title .line-wrap .line{ width:auto;}

#sidebar .widget-title .line-wrap,
#footersidebar .widget-title .line-wrap{ margin:0px; padding:0px;}


/*======= Portfolio Widget =======*/

/* Portfolio Item */
.klasik-portfolionew.nopagenum{
    margin-bottom: -30px;
    width: 100%;
    float: left;
}

li.widget-container.widget_klasik_portfolio{ 
	padding:0px!important;
    max-width: inherit!important;
}
.klasik-portfolionew-widget-wrapper .portfolionew-text{ margin:0 0 24px;}
.klasik-portfolionew .item{margin-bottom:30px; }

.klasik-portfolionew .portfolionewlist .item{display:inline-block; float:none;}
.klasik-pfnew-img{position:relative; overflow:hidden;}

.klasik-pfnew-img a.image{
	display:block;
	position:relative;
	overflow:hidden;
}

.klasik-pfnew-img .zoom{
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
	width:100%;
	height:100%;
	background-image:url(../images/hover-zoom.png);
	background-repeat:no-repeat;
	background-position:center;
}

.klasik-pfnew-img .rollover{
	width:100%; 
	height:100%;	
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
    position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
}


/*======= Featured Pages Widgets =======*/

.klasik-features{
    margin-bottom: -44px;
    width: 100%;
    float: left;
}
li.widget-container.widget_klasik_features{ 
	padding:0px!important;
    max-width: inherit!important;
}
.klasik-features-widget-wrapper .features-text{ margin:0 0 24px;}
.klasik-features .item-container{margin-bottom:44px;}
.klasik-features .img-container img{float:left; margin: 0 15px 0 0; }
.klasik-features .feature-title{font-size:14px; margin:0px;}
.klasik-features .feature-text{clear:both; margin-top:9px; }
.klasik-features .feature-link{clear:both; margin-top:20px;}
.klasik-features .alpha{clear:both;}


/*======= Latest News Widgets =======*/

.klasik-latestnews-widget.nopagenum{
    margin-bottom: -50px;
    width: 100%;
    float: left;
}
li.widget-container.widget_klasik_latestnews{ 
	padding:0px!important;
    max-width: inherit!important;
}

.klasik-latestnews-widget-wrapper .news-text{ margin:0 0 24px;}

.klasik-latestnews-widget .alpha{clear:both;}
.klasik-latestnews-widget .recent-item{margin-bottom:50px; }
.klasik-latestnews-widget .recent-item .sep{clear:both;}
.klasik-latestnews-widget .recent-thumb img{ margin:0px 0 16px; display:block}
.klasik-latestnews-widget .recent-text-wrap{ overflow:inherit}
.klasik-latestnews-widget .recent-title{font-size:14px; line-height:22px; margin-bottom:0px;}
.klasik-latestnews-widget .smalldate{display:block; font-size: 12px; margin-top:2px;}
.klasik-latestnews-widget .recent-text{clear:both; margin-top:8px;}
.klasik-latestnews-widget .recent-link{clear:both; margin-top:7px;}

.klasik-latestnews-widget .news-comments.multiple-comments{ display:inline-block;}
.klasik-latestnews-widget .news-comments:after {
    content: "/";
    cursor: default;
    font-weight: 400;
    margin: 0 3px;
}


/*======= Magazine Posts Widgets =======*/

.klasik-magazinepost-widget{
    margin-bottom: -20px;
    width: 100%;
    float: left;
}
li.widget-container.widget_klasik_magazine{ 
	padding:0px!important;
    max-width: inherit!important;
}

.klasik-magazinepost-widget-wrapper .magazine-text{ margin:0 0 24px;}

.klasik-magazinepost-widget .recent-item{margin-bottom:20px; }
.klasik-magazinepost-widget .recent-item .sep{clear:both;}
.klasik-magazinepost-widget .recent-thumb{margin:0px;}
.klasik-magazinepost-widget .recent-thumb img{display:block; margin:0px 0 26px 0; padding:0px;}

.klasik-magazinepost-widget.headline-col-style .tpl1 .recent-thumb .image{width:300px; height:215px; margin:0px 20px 0px 0px; float:left;}
.klasik-magazinepost-widget.headline-col-style .tpl1 .recent-thumb .image img{ width:100%; height:auto; margin:0;}

.klasik-magazinepost-widget .tpl2 .recent-thumb .image{float:left; width:72px; height:72px; margin:0px 18px 0px 0px;}
.klasik-magazinepost-widget .tpl2 .recent-title{font-size:14px; margin:0px;}

.klasik-magazinepost-widget .recent-title{font-size:16px; line-height:normal; margin:0px; overflow:hidden;}
.klasik-magazinepost-widget .smalldate{display:block; font-size:11px;}
.klasik-magazinepost-widget .recent-text{clear:none; margin-top:7px;}
.klasik-magazinepost-widget .recent-link{clear:none; margin-top:7px;}


/*======== Testimonial Widget =========*/

.klasik-testimonial-widget{
    margin-bottom: -40px;
    width: 100%;
    float: left;
}
li.widget-container.widget_klasik_testimonial{ 
	padding:0px!important;
    max-width: inherit!important;
}
.klasik-testimonial-widget-wrapper .testi-text{ margin:0 0 24px;}

.klasik-testimonial-widget .alpha{clear:both;}
.klasik-testimonial-widget .titem{margin-bottom:40px;}
.klasik-testimonial-widget blockquote{margin-bottom:10px;}
.klasik-testimonial-widget .testi-img img{
	margin:0px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.klasik-testimonial-widget .testi-img .image{
	margin:5px 20px 0 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	float:left;
}

.klasik-testimonial-widget .testi-quote-wrap{}
.klasik-testimonial-widget .testi-quote:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	font-family: Georgia, serif;
	font-size: 4em;
	line-height: 1;
	margin: 0;
	vertical-align: -0.4em;
}
.klasik-testimonial-widget .testi-quote{
	quotes: "";
    clear: both;
    font-style: normal;
    margin: 0 0 0px 0;
    padding: 0 0px 0 0px;
	position:relative;
}

.klasik-testimonial-widget .testi-title{ font-size:13px; margin:9px 0 0 0; display:inline-block}
.klasik-testimonial-widget .testi-tag{ display:inline-block}
.klasik-testimonial-widget .testi-tag .tags:before {
    content: "-";
    cursor: default;
    margin: 0 4px;
}
.klasik-testimonial-widget .testi-tag .tags:last-of-type:after {
    display: none;
}


/*======== Team Widget =========*/

li.widget-container.widget_klasik_team{ 
	padding:0px!important;
    max-width: inherit!important;
}
.klasik-team-widget {
   margin-bottom: -30px;
    width: 100%;
    float: left;
}
.klasik-team-widget-wrapper .team-text{ margin:0 0 24px;}
.klasik-team-widget .alpha{clear:both;}
.klasik-team-widget .item-container{margin-bottom:30px;}
.klasik-team-widget .team-image{ margin:0px 0px 12px 0px;}
.klasik-team-widget img{ width:100%; height:auto; display:block}
.klasik-team-widget .team-title-container{margin:0; }
.klasik-team-widget .team-title{ margin:0; font-size:14px;}
.klasik-team-widget .team-tag{ font-size:13px;}
.klasik-team-widget .item-container .team-text{ margin:10px 0 0 0;}



/*======== Action Widget =========*/

li.widget-container.widget_klasik_action{ 
	padding:0px!important;
    max-width: inherit!important;
}


.klasik-action-widget h1{ font-size:14px;}
.klasik-action-widget .action-button{ margin:0; }
.klasik-action-widget .action-button .button{ 
	border:0px;
	display:inline-block;
	 padding: 12px 28px 13px 28px;
	 margin:0 0px 10px;
	 font-size:11px;
	 line-height:11px;	
	 text-transform:uppercase; 
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}


/*======== Klasik Text Widget =========*/
li.widget-container.widget_klasik_text{
	padding:0px!important;
    max-width: inherit!important;
}


/*=== Image Carousel ===*/
li.widget-container.widget_klasik_pcarousel{ 
	padding:0px!important;
    max-width: inherit!important;
}

.klasik-carousel-widget-wrapper .imgcarausel-text{ margin:0 0 24px;}
.flexslider-carousel{position:relative;}
.flexslider-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none !important;
	padding:0px 15px !important;
	margin-left:0;
	margin-right:0; 
	margin-bottom:0px !important;
	border:0px !important;
	background:none !important;
}
.flexslider-carousel .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider-carousel ul li a{
	display:block;
}
.flexslider-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.flexslider-carousel ul.flex-direction-nav li{ display:block; padding:0px;}
.flexslider-carousel ul.flex-direction-nav a{display:block;  position:absolute; top:50%; margin-top:-23px; border-radius:0; 
-moz-border-radius:0; -webkit-border-radius:0; width:21px; height:21px; 
background-repeat:no-repeat; background-position:center; text-indent:-9999px;}
.flexslider-carousel ul.flex-direction-nav a{opacity:0;}
.flexslider-carousel .flex-direction-nav .flex-disabled{display:none;}
.flexslider-carousel:hover ul.flex-direction-nav a{opacity:1;}
.flexslider-carousel:hover .flex-direction-nav .flex-disabled{display:block;}
.flexslider-carousel ul.flex-direction-nav a.flex-prev{left:-30px; background-position:center;}
.flexslider-carousel ul.flex-direction-nav a.flex-next{right:-30px; background-position:center;}
.flexslider-carousel .flex-control-nav{margin:0px 15px;}
.flexslider-carousel .flex-control-nav li a{margin:0px 5px !important;}
.flexslider-carousel .flex-control-nav li{background-image:none !important; padding:0px !important; margin:0px !important; border:0px !important;}
.flexslider-carousel ul.flex-direction-nav a{background-color:transparent;}
.flexslider-carousel ul.flex-direction-nav a:hover{background-color:transparent;}
.flexslider-carousel ul.flex-direction-nav a.flex-prev{background-image:url(../images/carousel-arrow-left.png); background-position:center;}
.flexslider-carousel ul.flex-direction-nav a.flex-next{background-image:url(../images/carousel-arrow-right.png); background-position:center;}

.fullwidth .flexslider-carousel ul.flex-direction-nav a.flex-prev{left:30px; background-position:center;}
.fullwidth .flexslider-carousel ul.flex-direction-nav a.flex-next{right:30px; background-position:center;}


#sidebar .flexslider-carousel ul.flex-direction-nav a.flex-prev{left:30px; background-position:center;}
#sidebar .flexslider-carousel ul.flex-direction-nav a.flex-next{right:30px; background-position:center;}

#footersidebar .flexslider-carousel ul.flex-direction-nav a.flex-prev{left:30px; background-position:center;}
#footersidebar .flexslider-carousel ul.flex-direction-nav a.flex-next{right:30px; background-position:center;}




/* RSS */
.widget_rss ul {
	list-style: none;
	margin: 0;
}
#sidebar .widget_rss li:before{ display:none}
.widget_rss li {
	margin-bottom: 1.6em;
}

.widget_rss ul:last-child,
.widget_rss li:last-child {
	margin-bottom: 0;
}

.widget_rss .rsswidget {
	border: 0;
	font-weight:bold;
	font-size:14px;
}

.widget_rss .rsswidget img {
	margin-top: -4px;
}

.widget_rss .rss-date,
.widget_rss cite {
	font-size: 11px;
	font-style: normal;
	display: block;
	line-height: 2;
	opacity: 0.8;
}


/*======= Sidebar =======*/
#sidebar.positionleft{float:left;}
#sidebar.positionright{float:right;}

#sidebar.positionright div.widget-area{padding-left:0px;}
#sidebar.positionleft div.widget-area{padding-right:0px;}



#sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}

#sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
#sidebar .widget-container {
    margin-bottom: 59px;
    padding: 0px 0 0 0;
}
#sidebar li.widget-container > ul{
	padding-top:0px;
}

#sidebar li li{
    list-style-type: none;
    margin: 0 0 3px 0;
    padding: 0 0 0px 0;
}

#sidebar li li a:hover, #sidebar li li a.active{text-decoration:none;}

#sidebar .textwidget p{ margin-bottom:0px;}

#sidebar ul.sub-menu, #sidebar ul.children, #sidebar ul ul ul{margin:0 0 0 10px; }
#sidebar ul.sub-menu li, #sidebar ul.children li, #sidebar ul ul ul li{margin-bottom:0; padding-bottom:0;}

/* Calendar */
.widget_calendar #wp-calendar {
	width: 100%;
	text-align:left;
	border: 0px !important;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding:3px;
	font-size:11px;
	border: 0px;
}
#footersidebar .widget_calendar thead th{border-top:0;}
#footersidebar .widget_calendar thead th:first-child{border-left:0;}

.widget_calendar #wp-calendar tr{}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	text-align:right;
	padding: 3px 0 3px 0 !important;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	font-weight: bold;
	padding:3px;
}
.widget_calendar #wp-calendar tfoot tr{}
.widget_calendar #wp-calendar td#prev{text-align:left; padding-left:5px;}
.widget_calendar #wp-calendar td#next{text-align:right; padding-right:5px}
#today{font-weight:bold}



/* Tag */
.tagcloud{}
.tagcloud a{padding:0px 3px;}
.tagcloud a:hover{}



/* Widget Page Nav*/
ul.page-numbers{
    list-style: none;
    margin: 0 0;
	display:block;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li  {
    display: block;
    float: left;
    margin: 0 3px 4px 0!important;
    text-align: center;
}

.prev.page-numbers, .next.page-numbers{ font-size:14px;}

.page-numbers a,
.page-numbers span {
    display: block;
    padding: 0 ;
    height: 30px;
	width:30px;
    line-height: 30px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.page-numbers a span { padding: 0 }

.page-numbers:hover { text-decoration: none }

/* Content Aware Sidebars */
#maincontent .main.nocontent { padding-bottom: 0px; margin-bottom:0px;}


/* WOOCOMMERCE COMPATIBILITY
-------------------------------------------------------------- */
.klasikt.woocommerce ul.products li.product h3, .klasikt.woocommerce-page ul.products li.product h3{font-size:14px;}
.klasikt .woocommerce-pagination{margin-bottom:20px;}
.klasikt .woocommerce-tabs ul.tabs{background:none; border:0px; float:none;}
.klasikt .woocommerce-tabs ul.tabs li a{line-height:100%;}
body.klasikt .related ul.products li.product, body.klasikt .upsells.products ul.products li.product, body.klasikt .related ul li.product, body.klasit .upsells.products ul li.product {width: 22.05%;}
body.klasikt nav.woocommerce-pagination ul.page-numbers, body.klasikt #content nav.woocommerce-pagination ul.page-numbers {margin: 0 0px!important;}

body.klasikt.woocommerce-page h2{ font-size:16px;}
body.klasikt.woocommerce-page h3{ font-size:14px;}
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button { font-size:11px!important;}

/* Widget klasik product */
li.widget-container.widget_klasik_wooproduct {
    max-width: inherit !important;
    padding: 0 !important;
}
.klasik-product.woocommerce  {
   margin-bottom: -2.992em;
    width: 100%;
    float: left;
}
.klasik-wooproduct-widget-wrapper .wooproduct-text{ margin:0 0 24px;}
.product.type-product .summary.entry-summary p{ margin-bottom:20px;}

#sidebar .woocommerce .widget_shopping_cart .cart_list li, 
#sidebar .woocommerce.widget_shopping_cart .cart_list li{ padding-left: 2em;}

#sidebar .woocommerce.widget_product_search input[type="submit"]{ margin:5px 0 0; padding: 10px 24px 10px;}

/* Woocommerce Pagination  */
body.klasikt.woocommerce nav.woocommerce-pagination, body.klasikt.woocommerce #content nav.woocommerce-pagination {
    padding: 0;
    font-size: 12px;
    margin: 0 0 20px 0;
    clear: both;
    text-align: left;
}

body.klasikt.woocommerce #content nav.woocommerce-pagination ul, body.klasikt.woocommerce nav.woocommerce-pagination ul, 
body.klasikt.woocommerce-page #content nav.woocommerce-pagination ul, body.klasikt.woocommerce-page nav.woocommerce-pagination ul
{
    border: 0px;
    padding: 0px;
}

body.klasikt.woocommerce .page-numbers a, 
body.klasikt.woocommerce .page-numbers span,
body.klasikt.woocommerce .page-numbers a:hover,
body.klasikt.woocommerce .page-numbers span:hover,
body.klasikt.woocommerce-page .page-numbers a, 
body.klasikt.woocommerce-page .page-numbers span,
body.klasikt.woocommerce-page .page-numbers a:hover,
body.klasikt.woocommerce-page .page-numbers span:hover {
    display: block;
    padding: 0px!important ;
    height: 30px;
	width:30px;
    line-height: 30px!important ;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

body.klasikt.woocommerce #content nav.woocommerce-pagination ul li, body.klasikt.woocommerce nav.woocommerce-pagination ul li, 
body.klasikt.woocommerce-page #content nav.woocommerce-pagination ul li, body.klasikt.woocommerce-page nav.woocommerce-pagination ul li{ border:0px}