
/* #Media Queries
================================================== */
/* Smaller than standard 1680 (browsers) */
@media only screen and (max-width: 1680px) {
	#slider .slider-img{ height:636px;}
	#slider .videoWrapper {	padding-bottom: 22.2%; }
}

/* Smaller than standard 1366 (browsers) */
@media only screen and (max-width: 1366px) {


}


/* Smaller than standard 1280 ( browsers) */
@media only screen and (max-width: 1280px) {
	#slider .slider-img{ height:565px;}
	#slider .videoWrapper {	padding-bottom: 21.8%; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1024px) {
	#slider .slider-desc { width:80%}
	#slider .slider-img{ height:503px;}
	#slider .videoWrapper {	padding-bottom: 21.3%; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
	#slider .slider-desc { width:80%}
	#slider .slider-img{ height:495px;}
	#slider .videoWrapper {	padding-bottom: 21.5%; }
}

@media only screen and (max-width: 900px) {
	
	.widget-maintop li.widget-container,
	.widget-mainbottom li.widget-container { 
		padding-left:10px;
		padding-right:10px;
		margin: 0px auto; 
	}
	#slider .slider-desc { width:80%}
	#slider .slider-img{ height:475px;}
	#slider .videoWrapper {	padding-bottom: 21%; }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 800px) and (max-width: 889px) {
	
	.widget-maintop li.widget-container,
	.widget-mainbottom li.widget-container { 
		padding-left:10px;
		padding-right:10px;
		margin: 0px auto; 
	}
	
	#slider .slider-img{ height:523px;}
	#slider img{ display:block; height:50%; width:auto}
	#slider .slider-desc { width:90%}
	#slider .videoWrapper {	padding-bottom: 29.9%; }
}

/* Tablet Portrait size to standard 768 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 799px) {
	#bodychild{width:100%; margin:0}
	#logo h1{font-size:20px; line-height:20px;}

	#slider .slider-desc { width:80%}
	#slider img{ display:block; height:45%; width:auto}
	#slider .slider-img{ height:472px;}
	#slider .videoWrapper {	padding-bottom: 24.5%; }
	
	.klasik-testimonial-widget .testi-quote-wrap{ overflow:inherit;}
	
	.widget-maintop li.widget-container,
	.widget-mainbottom li.widget-container { 
		padding-left:10px;
		padding-right:10px;
	}
	
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#bodychild{width:100%; margin:0}
	#outerheader{height:auto;}

	/*============================================== HEADER SECTION ==============================================*/
	#logo{text-align:center; float:none; display:block;}
	#logoimg img{margin:0px auto;}

	.container { margin:0 auto; max-width:420px;}
	.row .sidebarcol    { width: 100%; }
	.row .contentcol 	{ width: 100%; }
	
	.widget-maintop li.widget-container,
	.widget-mainbottom li.widget-container { 
		padding-left:10px;
		padding-right:10px;
		margin: 0px auto; max-width: 400px;
	}

	#navigation{text-align:center; clear:both; margin:0px!important;}
	.sf-menu a{background:transparent !important; border:0 !important}
	.sf-menu > li{border:0 !important; display:none;}
	nav{margin:0px; float:none; }
	.js .tinynav { display: block; display: inline-block; text-align:left ; margin:0 0 0 0; width:90%}/* mobile dropdown */
    .js #topnav { display: none }
	
	/*============================================== SLIDER SECTION ==============================================*/
	#slider .slider-title{ margin-bottom:10px; }
	#slider .slider-desc { width:90%; font-size:12px; font-weight:normal}
	#slider img{ display:block; height:40%; width:auto}
	#slider .slider-img{ height:433px;}
	#slider .videoWrapper {	padding-bottom: 31%; }

	/*============================================== AFTER HEADER SECTION ==============================================*/
	#afterheader .pagetitle{ text-align:center; float:none; margin:0px;}
	#afterheader .pagedesc{display:block; text-align:center;}
	
	
	/*============================================== CONTENT SECTION ==============================================*/
	
	#content.positionright, #content.positionleft{background:transparent;}
	.padcontent{padding-right:0;}
	#content.positionright .padcontent{padding-left:0; padding-right:0}
	#content.positionleft .main {padding-right: 0px;}
	#content.positionright .main { padding-left: 0px;}
	#content.positionleft  .contenttop-container, 
	#content.positionleft  .contentbottom-container{padding-right: 0px;}
	
	#content.positionright .contenttop-container, 
	#content.positionright .contentbottom-container{padding-left: 0px;}
	
	.tabcontainer{margin-bottom:20px;}
	ul.tabs{height:auto;}
	ul.tabs li{font-size:12px; display:block; float:none; overflow:visible; height:auto}
	ul.tabs li a{text-transform:capitalize;}
	h2.trigger{font-size:12px;}
	
	.klasik-testimonial-widget .testi-quote-wrap{ overflow:inherit;}
	.klasik-latestnews-widget .twelve .recent-text-wrap{ overflow:inherit;}
	.klasik-latestnews-widget .twelve .recent-thumb .image{float:none; width:auto; height:auto; margin:0px 0px 20px 0px; display:block}
	
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea{ width:90%;}

	/*============================================== BLOG SECTION ==============================================*/

	.wp-pagenavi{margin-bottom:30px;}
	.entry-utility{ float:none; width:100%; text-align:left; margin-bottom:10px; margin-top:0px;}
	.entry-utility div{ display:inline-block;}
	
	
	
	#sidebar.positionright div.widget-area{padding-left:0px;}
	#sidebar.positionleft div.widget-area{padding-right:0px;}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 640px) and (max-width: 767px) {
	#slider .videoWrapper {	padding-bottom: 23%; }
}

@media only screen and (max-width: 600px) {
	#slider .videoWrapper {	padding-bottom: 31%; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 639px) {
	#bodychild{width:100%;}
	
}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#bodychild{width:100%;}
	.container{max-width:240px;}
	.widget-maintop li.widget-container,
	.widget-mainbottom li.widget-container { 
		padding-left:0px;
		padding-right:0px;
		margin: 0px auto;  max-width:220px;
	}
	

	#slider .slider-desc { display:none}
	#slider img{ display:block; height:40%; width:auto}
	#slider .slider-img{ height:433px;}
	#slider .videoWrapper {	padding-bottom: 46%; }


	.commentlist ol{padding-left:20px;}
	.comment-body{margin:0;}
}

/* Tablet Portrait size to standard 360 (devices and browsers) */
@media only screen and (min-width: 360px) and (max-width: 479px) {
	#slider .videoWrapper {	padding-bottom: 41%; }
}

