


/*------------------------------------------------------------------

[Table of contents]


1. Global Elements
2. Container
3. Header
	3.1. Navigation
	3.2. Slider
4. Afterheader
5. Content
	5.1. Blog
	5.2. Widgets
6. Sidebar
7. Footer Sidebar
8. Footer
9. Plugin


-------------------------------------------------------------------*/





/* 1. GLOBAL ELEMENTS

-------------------------------------------------------------------*/


/*======== Theme Frame ========*/

.container {
    max-width: 960px;
}

.row .row {
    margin: 0 -10px;
}

.column, .columns {
    padding: 0 10px;
}

.row .sidebarcol    { width: 25%; }
.row .contentcol 	{ width: 75%; }

.widget-maintop .widget-container, .widget-mainbottom .widget-container, .widget-contenttop .widget-container, .widget-contentbottom .widget-container {
    margin: 0 auto;
    max-width: 940px;
}



/*======== #Reset & Basics (Inspired by E. Meyers) ========*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none; /* removes ugly dotted border but may make template more unsuable, up to you if you want to keep it! */

}



/*======== Elements ========*/

/* Main global 'theme' and typographic styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 22px;
}



/* links */

a, a:visited {
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

a:active {
    background-color: transparent;
}



/* heading */

h1, h2 {
    margin-bottom: 10px;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, .pagedesc, .flex-caption, .button, .button:visited, input[type="submit"], button, .more-link,

.wp-pagenavi, blockquote, .fn, price {
    font-weight: normal;
    line-height: normal;
    font-family: 'Amethysta', serif;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.bigger {
    font-size: 16px;
    line-height: 24px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.img-circle, .klasik-features .img-container img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float: none;


}



/* Text elements */

hr {
    border-width: 0;
    height: 1px;
    line-height: 0;
    margin: 30px 0px 30px 0px;
    page-break-after: always;
    text-align: center;
    width: 100%;
    clear: both;
}

em {
    font-style: italic;
}

p {
    margin-bottom: 22px;
}

ul {
    list-style: disc;
    margin: 0 0 5px 1.5em;
}

ul li, ol li {
    padding-bottom: 10px;
}

ol {
    list-style: decimal;
    margin: 0 0 5px 2.2em;
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}

dl {
    margin: 0 0 24px 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 18px;
}

strong {
    font-weight: bold;
}

cite,
em,
i {
    font-style: italic;
}

big {
    font-size: 131.25%;
}

ins {
    background: #ffc;
    text-decoration: none;
}

blockquote:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 14px;
    font-size: 4.5em;
    line-height: 1;
    margin: 0;
    vertical-align: 0em;
}

blockquote {
    clear: both;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 20px 0;
    padding: 20px 10px 20px 70px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
}

blockquote p {
    font-size: 18px;
    margin-bottom: 0px;
}

blockquote:before {
    content: none;
}

blockquote.left, blockquote.right {
    float: right;
    width: 55%;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0px;
    padding: 22px 10px 22px 50px!important;
    margin-top: 10px;
}

blockquote.left {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}

blockquote p {
    margin: 0px;
    padding: 0px;
    display: inline;
}

blockquote, blockquote p {
}

blockquote div {
}

blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}

code {
    font-family: Verdana, Arial;
    letter-spacing: 1px;
    margin: 25px 0 25px 0px;
    display: block;
    font-size: 0.9em;
    border-left: solid 4px #ebebeb;
    padding: 15px 10px;
}

pre {
    border-left: solid 4px #ebebeb;
    line-height: 18px;
    margin-bottom: 18px;
    padding: 20px;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}



/* Text meant only for screen readers */

.screen-reader-text {
    position: absolute;
    left: -9000px;
}




/* float align */
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 0px;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-top: 0px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignnone,
img.alignnone {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

img.alignnone,
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 17px;
}





/* 2. CONTAINER

-------------------------------------------------------------------*/

#bodychild {
    width: 100%;
    margin: 0;
}

#outercontainer {
    width: 100%;
    margin: 0;
    padding: 0;
}

#outerheader, #outerlogo, #outerslider, #outerbeforecontent, #outermain, #home-showcasecontent, #outerfootersidebar, #outerfooter {
    width: 100%;
    margin: 0 auto;
}

#outerafterheader {
    padding: 48px 0 44px;
    text-align: center;
}

#outerafterheader.feat {
    padding-bottom: 80px;
}

#bg-image {
    overflow: hidden;
}

#bg-image img {
    width:2000px;
    max-width:none;
    display: block;
}


/* 3. HEADER
-------------------------------------------------------------------*/

/* FIxed Menu */
.admin-bar #outermainmenu{top:28px!important;}
#outermainmenu.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#outerlogo {
    z-index: 3;
    position: absolute;
}

#logo {
    position: relative;
    text-align: center;
    padding: 18px 0 0px;
    margin-bottom: 24px;
}

#logo h1 {
    font-size: 40px;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #000;
}

#logo .desc {
    font-style: normal;
    font-size: 13px;
    padding-bottom: 0;
    display: block;
}

#logoimg a, #logoimg img {
    display: inline-block;
}

#logo h1 {
    line-height: 100%;
}

#logo h1 a {
    line-height: 100%;
}



/*======= 3.1. Navigation =======*/

#navigation {
    position: relative;
    z-index: 900;
    margin: 0 auto;
    padding: 25px 0 25px 0;
    text-align: center;
}


/* Nav Menu */

#topnav {
    margin: 0;
    list-style-type: none;
    overflow: visible;
    position: relative;
    font-family: 'Homemade Apple', cursive !important;
}

.sf-menu a {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 0px;
    word-spacing: 2px;
}

.sf-menu > li {
    position: relative;
    z-index: 10;
    padding: 0 10px 0 20px;
}



/* Drop down menu */
.sf-menu ul a:hover {}

.sf-menu li li {
    text-align: left;
    margin: 0;
}

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}

.sf-menu {
    line-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 12em; /* left offset of submenus need to match (see below) */;
}

.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
    display: inline-block;
    position: relative;
    margin: 0px 0px 0px 0px;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left: -1.9em;
    top: 2.6em; /* match top ul list item height */
    z-index: 99;
    padding: 0 15px;
    line-height: 25px;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: 12em; /* match ul width */
    top: -1px;
    margin-left: 15px;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top: -999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left: 12em; /* match ul width */
    top: -1px;
}

.sf-menu ul li a {
    padding: 12px 0px!important;
    font-size: 13px!important;
    text-align: center;
}

.sf-menu li ul {
    padding: 0px 0px;
}

.sf-menu a.sf-with-ul {
    min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */;
}

.sf-sub-indicator {
    position: absolute;
    display: block;
    right: 10px;
    top: 1.05em; /* IE6 only */
    width: 10px;
    height: 10px;
    text-indent: -999em;
    overflow: hidden;
}

.sf-menu ul {
    border: 0px;
}

.sf-menu li li {
    padding: 0px 0px;
}

.sf-menu > li li:before {
    content: "";
    display: block;
}

.sf-menu > li li:first-child:before {
    border: 0;
}


/* dropdown mobile */
#menu-icon, .tinynav {
    display: none; /* hide menu icon initially */
}



/*======= 3.2. Slider =======*/

#outerslider .container, #outerslider .row, #outerslider .columns {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    float: none;
}
#outerslider{ margin-bottom:0px}
#slidercontainer {
    padding: 0px;
    margin: 0px 0;
    overflow:hidden;
}

#slider .slider-img{ height:716px;}
#slider { position: relative; margin: 0 0;}

#slider .videoWrapper {
    position: relative;
    padding-bottom: 22.5%;
    padding-top: 25px;
    height: 0;
}
#slider .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#slider .slides li{ margin:0px; padding:0px}
#slider #slideritems {
    position: relative;
    margin-bottom: 0px!important;
    padding-bottom: 0px;
}
#slider img{ display:block;}
#outerslider .slider-line{box-shadow: 0 -15px 0 0 rgba(255, 255, 255, 0.4) inset; height:15px; position:relative; bottom:260px; z-index:10 }


#slider .flex-caption {width:100%;  position: absolute; left:0; bottom:116px; z-index:3; text-align:center}
#slider .slider-title-wrap {padding:0px;}
#slider .slider-title {
    line-height: normal;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#slider .slider-desc {
    text-align: center;
    font-size: 14px;
    margin: 0px auto;
    width:50%;
    line-height: 20px;
}



#slider .flex-control-nav {
    width:100%;
    position: absolute;
    bottom: 75px;
    right:0;
    margin:0 0 0;
    text-align:center;
    z-index: 5;
}
#slider .flex-control-nav a {
    cursor: pointer;
    display: inline-block;
    height: 9px;
    width: 9px;
    position: relative;
    text-align: left;
    text-indent: 9999em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#slider .flex-control-nav li {
    margin: 0 3px 0px 3px;
    padding:0;
    display: inline-block;
    zoom: 1;
}




/* 4. AFTERHEADER
-------------------------------------------------------------------*/


#afterheader .pagetitle {
    font-size: 26px;
    margin-bottom: 0px;
    text-transform: uppercase;
    display: inline-block;
}

#afterheader .pagedesc {
    font-size: 14px;
    margin-bottom: 0;
    padding: 4px 0 0 0;
    display: block;
}

.pagedesc p {
    margin: 0px;
}

#afterheader .fa-icon-title{display:inline-block; margin:6px 5px 0px 0; vertical-align: top; line-height:100%   }
#afterheader .fa-icon-title .fa{ font-size:22px;  }



/* 5. CONTENT
-------------------------------------------------------------------*/


#outermain-wrapper {
    padding: 20px 0 0px 0;
}

#outermain-wrapper.inner { padding:0px;}
.inner #maincontainer{ padding:40px 0 20px}

#content .main{ margin-bottom:20px;}
#content.positionright {
    float: right;
}

#content.positionleft {
    float: left;
}

#content.positionleft .main {
    padding-right: 15px;
}

#content.positionright .main {
    padding-left: 15px;
}

.indentleft {
    overflow: hidden;
}

.center {
    text-align: center;
}

.nomargin {
    margin-right: 0px!important;
}

.displayblock {
    display: block;
}



/* List */

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.list li {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: solid 1px #f0f0f0;
}

.listborder {
    margin: 0 0 0 0;
    padding: 5px 0 0 0;
    list-style-type: none;
}

.listborder li {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.listborder li:first-child {
    border-top: solid 1px #e5e5e5;
    padding-top: 5px;
}



/* Images */

img {
    max-width: 100%;
    height: auto;
}

.imgopacity:hover {
    opacity: 0.5;
}

img[class*="wp-image-"], img[class*="attachment-"] {
    max-width: 100%;
    height: auto;
}

.frame img{ display:block}

/* form & button */

form {
    margin: 0;
    padding: 0;
}

input[type="text"], input[type="email"],
textarea, input[type="password"], select {
    font-size: 12px;
    padding: 8px 6px;
    font-size: 11px;
    font-family: Arial;
    width: 90%;
}

textarea {
    width: 90%;
}

textarea:focus {
    outline: 0;
}

.button, .button:visited, input[type="submit"],input[type="reset"], input[type="button"], button {
    font-size: 14px;
    line-height: 14px;
    margin: 3px;
    padding: 6px 10px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor:pointer;
}

.button:hover, input[type="submit"]:hover,input[type="reset"]:hover, input[type="button"]:hover, button:hover {
    text-decoration: none;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
}

.button.mini {
    font-size: 12px;
    padding: 6px 15px 7px 15px;
}

.button.small {
    font-size: 12px;
}

.button.large {
    font-size: 15px;
    line-height: 15px;
    padding: 9px 25px 10px 25px;
}



/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/* Separator */

.spacer {
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 100%;
    clear: both;
}

.separator {
    display: block;
    height: 30px;
    padding: 0 0;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    clear: both;
}


/*======= 5.1. BLOG =======*/

.sticky .posttitle {padding-left: 30px;}

.articlecontainer {
    padding-bottom: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid;
    position: relative;
}
.page.page-template-default .articlecontainer{ padding:0px; margin:0px; border:0px}
.page.page-template-default .articlecontainer > div.clear{ display:none}

.articlecontainer > div.clear {
    height: 9px;
    width: 44px;
    bottom: -5px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    visibility: visible;
}

.single .articlecontainer { margin:0px; padding:0px; border:0px; }
.single .articlecontainer > div.clear{ display:none}

.postimg { margin-bottom: 17px;}

.format-standard .postimg {
    width: 41.667%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.thumbcontainer .frame {border: 0px;}

.postimg img {display: block;}

.entry-content img {}

.more, .more-link {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin: 3px;
    padding: 6px 10px;
    text-transform: uppercase;
    font-family: 'Amethysta', serif;
}

a.more:hover, a.more-link:hover { text-decoration: none;}

.post .button { margin: 10px 0; display: inline-block;}

.post, #searchresult .page, #searchresult .hentry {clear: both;}

#singlepost .entry-utility {padding-top: 0px;}

.single .format-standard .entry-utility {padding-top: 0px;}

.entry-utility {
    margin: 0px;
    padding: 0 0 10px 0px;
    font-size: 11px;
}

.entry-utility div {
    display: inline-block;
    line-height: 100%;
}

.entry-utility .text-sep {
    margin: 0 5px;
}

.posttitle {
    margin: 0 0 0px 0;
    word-wrap: break-word;
}

.posttitle, .posttitle a {font-size: 22px;}

.posttitle a:hover {
    text-decoration: none;
}

.single .entry-content {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.last .entry-content {
    margin-bottom: 0px;
}

.entry-content {
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0 0 0px 0;
    word-wrap: break-word;
}

.page .entry-content{ margin:0px; padding:0px;}

#postattachment .entry-utility {
    width: 100%;
    float: none;
    padding: 0;
}

.entry-attachment {
    margin-bottom: 20px;
}



/* Post Format */

.entry-gallery .flexslider {
    margin-bottom: 15px;
}

.entry-quote blockquote {
    padding: 22px 28px 22px 65px;
    background-position: 28px 28px;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    position: relative;
    border-width: 1px;
}

.entry-quote .quotearrow {
    display: none;
}

.entry-quote .frame {
    border-width: 2px;
}

.mediacontainer {
    margin-bottom: 17px;
}

.mediacontainer audio {
    width: 100%;
}

.mediacontainer iframe, .mediacontainer object, .mediacontainer video {
    width: 100%;
    height: 395px;
    display: block;
}

.format-aside p:last-child, .format-aside p:last-of-type{ margin-bottom:0;}


/* author */

h2.author-title {
    font-size: 18px;
    margin-bottom: 20px;
    display:none
}

#entry-author-info {
    clear: both;
    margin-bottom: 36px;
    position: relative;
    padding: 0px 0px 36px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

#entry-author-info #author-avatar {
    margin: 0 0 0 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.single #entry-author-info #author-avatar {top: 2px;}

.avatar {
    display: block;
    padding: 5px;
}

#entry-author-info #author-description {
    margin: 0px 0px 10px 80px;
    vertical-align: top;
}

#entry-author-info #author-description  h2 {
    font-size: 14px;
    margin-bottom: 0px;
}

#author-description span.author { display: block; margin-bottom:5px;}



/* attachment pages wordpress */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}

.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}

.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}

.wp-caption {
    margin-top: 0.4em;
}

.wp-caption {
    margin: 0 0 20px 0;
    padding: 0;
    max-width: 100%;
    display: block;
}

.wp-caption img {
    margin: 0;
}

.wp-caption .wp-caption-text,

.gallery-caption {
    font-size: 12px;
    font-style: italic;
}

.wp-caption .wp-caption-text {
    margin-bottom: 0;
    padding: 8px 0 0 0;
    position: relative;
}

img#wpstats {
    display: block;
    margin: 0 auto 1.625em;
}

.tag-links {
    padding: 10px 0;
    display: block;
}





/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
    max-width: 100%;
}



/* navigation  */

.navigation {
    line-height: 20px;
}

.navigation a:link,
.navigation a:visited {
    text-decoration: none;
}

.navigation a:active,
.navigation a:hover {
}

.nav-previous {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.nav-next {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.nav-previous a, .nav-next a {
    font-size: 12px;
    padding: 8px 0;
}

#nav-above {
    margin: 0 0 18px 0;
}

#nav-above {
    display: none;
}

.paged #nav-above,

.single #nav-above {
    display: block;
}

.single #nav-below {
    margin: 20px 0 50px 0;
    padding: 20px 0 0 0;
}

#nav-below {
    padding: 0;
    font-size: 12px;
    margin: 10px 0 0 0;
    clear: both;
    text-align: right;
}



/* Comments */

#comments {
    clear: both;
}

#comments .navigation {
    padding: 0 0 18px 0;
}

h3#comments-title {
    line-height: 24px;
    padding: 0px 0px;
    margin: 0 0 20px 0;
    font-size: 20px;
}

h3#reply-title {
    line-height: 24px;
    font-size: 20px;
    margin: 36px 0px 20px 0px;
}

.commentlist {
    list-style: none;
    margin: 0;
    margin-bottom: 0px;
}

.commentlist li.comment {
    margin: 0 0 0px 0px;
    padding: 0 0 0px 0px;
    position: relative !important;
}

.commentlist li.comment ul.children {
    margin: 0 0 0 0;
    margin-left: 11%;
    padding: 0px 0 0 0;
}

.commentlist li.comment ul.children li {
    border-bottom: 0 !important;
    margin: 0;
    padding: 0;
}

#comments .comment-body ul,#comments .comment-body ol {
    margin-bottom: 0;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
}

.comment-body cite {
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
}

.comment-body cite  a, .comment-body cite  a:visited {
}

.comment-body cite  a:hover {
    text-decoration: none;
}

.comment-author .says {
    font-style: normal;
}

.comment-meta {
    font-size: 11px;
    margin: 0 0 18px 0;
}

.comment-meta a:link,

.comment-meta a:visited {
    text-decoration: none;
}

.comment-meta a:active,

.comment-meta a:hover {
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply a.comment-reply-link {
}

.edit-link {
    float: none;
    clear: both;
    width: 100%;
    display: block;
    padding: 10px 0 0 0;
}

a.comment-edit-link {
}

a.comment-edit-link:hover {
    text-decoration: none;
}

.commentlist .children {
    list-style: none;
}

.commentlist .children li {
}

.nopassword, .nocomments {
    display: none;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    display: block;
    font-size: 11px;
    line-height: 18px;
    margin: 0;
}

#comments .pingback .url {
    font-size: 12px;
}

.con-comment {
    padding: 20px;
    margin-bottom: 30px;
}

.commentlist .comment-author {
    float: left;
    margin-top: 0px;
    padding: 3px;
}

.commentlist .comment-body {
    width: auto;
    margin-bottom: 0px !important;
    margin-left: 80px;
}

.commenttext {
    margin: 0 0 0 0;
    padding: 2px 0 0 0;
}

.commentlist .comment-body p {
    margin-bottom: 10px !important;
}

.commentlist ul.children .comment-author {
}

.commentlist ul.children .comment-body {
}

*+html .commentlist .comment-body {
    margin-top: 0;
}

.comment-body .fn {
    font-size: 12px;
    font-weight: normal;
    word-spacing: 2px;
}

.comment-body .time {
    font-size: 11px;
    padding: 0 5px 0 0;
    font-style: italic;
}

.commentlist .comment-body .reply {
    font-size: 11px;
}

.comment-body .boldtext {
    font-weight: normal;
    font-size: 22px;
}

.vcard {
    padding-bottom: 6px;
}





/* Comments form */

#commentform {
    padding: 0;
}

#commentform label {
    margin-top: 0px;
    padding: 5px 0;
    display: inline-block;
}

#commentform .required {
}

#commentform code {
    padding: 0;
    margin: 10px 0;
    border: 0;
}

#commentform input[type=text] {
    margin-bottom: 3px;
    padding: 8px 5px;
    vertical-align: middle;
    width: 50%;
    font-size: 12px;
    font-family: arial;
    display: block;
    page-break-after: always;
}

#commentform textarea {
    width: 95%;
    margin-bottom: 12px;
    padding: 8px 5px;
    vertical-align: top;
    font-size: 12px;
    font-family: arial;
    display: block;
}

#respond .comment-reply {
    font-size: 20px;
    line-height: 24px;
    padding: 0px 0px;
    margin: 0 0 10px 0;
}

#respond p {
    margin: 0;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    line-height: 1em;
}

.children #respond {
    margin: 0 0px 0 0;
}

.cancel-comment-reply {
    font-size: 12px;
}

h3#reply-title {
    margin: 18px 0;
    font-size: 20px;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
    padding: 0;
}

#cancel-comment-reply-link {
    font-weight: normal;
    line-height: 18px;
}

#respond .required {
}

#respond label {
}

#respond input {
}

#respond textarea {
}

#respond .form-allowed-tags {
}

#respond .form-allowed-tags code {
}

#respond .form-submit {
    margin: 12px 0;
    clear: both;
}

#respond .form-submit input {
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
}

.comment-form-comment {
    width: 100%;
}

.form-submit {
    clear: both;
}



/* Calendar */

.widget_calendar #wp-calendar {
    width: 100%;
    text-align: left;
    border: 0px !important;
}

.widget_calendar #wp-calendar caption,

.widget_calendar #wp-calendar td,

.widget_calendar #wp-calendar th {
    text-align: center;
    padding: 3px;
    font-size: 11px;
    border: 0px;
}

#footersidebar .widget_calendar thead th {
    border: 0px;
}

#footersidebar .widget_calendar thead th:first-child {
    border: 0px;
}

.widget_calendar #wp-calendar tr {
}

.widget_calendar #wp-calendar caption {
    font-size: 11px;
    text-align: right;
    padding: 3px 0 3px 0 !important;
    text-transform: uppercase;
}

.widget_calendar #wp-calendar th {
    font-weight: bold;
    padding: 3px;
}

.widget_calendar #wp-calendar tfoot tr {
}

.widget_calendar #wp-calendar td#prev {
    text-align: left;
    padding-left: 5px;
}

.widget_calendar #wp-calendar td#next {
    text-align: right;
    padding-right: 5px;
}

#today {
    font-weight: bold;
}





/* Gallery */

#content .gallery {
    margin: 0 auto 0;
}

.gallery {
    margin: 0 auto 0px;
}

.gallery p {
    margin: 0px;
}

.gallery  .gallery-icon img {
    display: block;
    margin: 0px;
    width:100%;
}

.gallery .gallery-item {
    float: left;
    margin: 0 0 2% 0;
    text-align: center;
}

.type-portfolio .gallery .gallery-item {
    margin-bottom: 2%;
}

.gallery-columns-2 .gallery-item {
    width: 49%;
    margin-right: 2%;
}

.gallery-columns-2 .gallery-item:nth-of-type(2n+2) {
    margin-right: 0;
}

.gallery-columns-3 .gallery-item {
    width: 32%;
    margin-right: 2%;
}

.gallery-columns-3 .gallery-item:nth-of-type(3n+3) {
    margin-right: 0;
}

.gallery-columns-4 .gallery-item {
    width: 23.444%;
    margin-right: 2%;
}

.gallery-columns-4 .gallery-item:nth-of-type(4n+4) {
    margin-right: 0;
}

.gallery-columns-5 .gallery-item {
    width: 18.4%;
    margin-right: 2%;
}

.gallery-columns-5 .gallery-item:nth-of-type(5n+5) {
    margin-right: 0;
}

.gallery img {
}

.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}

.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}

.gallery .gallery-caption {
    margin: 0 0 12px;
    font-size: 14px;
    line-height: 20px;
}

.gallery dl, .gallery dt {
    margin: 0;
}

.gallery br+br {
    display: none;
}





/*======= 5.2. WIDGET =======*/



/*== POSITION ON THEME ==*/

.all-widget-wrapper{ padding:0 0; margin: 0 0 40px}

.widget-homeshowcase .widget-container{padding: 0 0 40px;}

.widget-maintop .widget-container,
.widget-mainbottom .widget-container { padding: 0 0 40px;}

.widget-contenttop .widget-container,
.widget-contentbottom .widget-container { padding: 0px 0 40px;}


.widget-maintop .widget-container ul#menu-main-menu,
.widget-contenttop .widget-container ul#menu-main-menu,
.widget-contentbottom .widget-container ul#menu-main-menu,
.widget-mainbottom .widget-container ul#menu-main-menu
{margin:0px; padding:0px; list-style-type:none;}


.widget-maintop li li,
.widget-contenttop li li,
.widget-contentbottom li li,
.widget-mainbottom li li{
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0 0 0px 0;
    line-height:20px;
}

/* Child */
.custom-position ul.sub-menu,
.custom-position ul.children,
.custom-position ul,
.custom-position ul ul ul {
    margin: 0 0 0 0px!important;
}

.custom-position ul.sub-menu li {
    padding: 6px 0 0 0px;
    margin-bottom:0px!important;
}

.custom-position ul.sub-menu li a{
    padding-left:13px;
    margin-bottom:0px!important;
}

.custom-position ul.sub-menu ul.sub-menu li a{
    padding-left:23px;
    margin-bottom:0px!important;
}

.custom-position ul.sub-menu ul.sub-menu ul.sub-menu li a {
    padding-left: 33px;
    margin-bottom:0px!important;
}

.custom-position ul.sub-menu ul.sub-menu ul.sub-menu li ul.sub-menu li a {
    padding-left: 43px;
    margin-bottom:0px!important;
}


.custom-position ul.children li{
    padding: 6px 0 0 0px;
    margin-bottom:0px!important;
}

.custom-position ul.children li a{
    padding-left:13px;
    margin-bottom:0px!important;
}

.custom-position ul.children ul.children li a{
    padding-left: 23px;
    margin-bottom:0px!important;
}

.custom-position ul.children ul.children li a{
    padding-left: 33px;
    margin-bottom:0px!important;
}

.custom-position ul.children ul.children li ul.children li a{
    padding-left: 43px;
    margin-bottom:0px!important;
}


#content.positionleft  .contenttop-container,
#content.positionleft  .contentbottom-container{
    padding-right: 15px;
}

#content.positionright .contenttop-container,
#content.positionright .contentbottom-container{
    padding-left: 15px;
}


#home-showcasecontent{ padding:40px 0 0 0}
#home-showcasecontent ul{margin:0px; padding:0px; list-style-type:none;}
.widget-homeshowcase > ul li {margin:0px; padding:0px; list-style-type:none;}
.widget-homeshowcase li li{
    list-style-type:none;
    margin:0 0 5px 0;
    padding:0 0 0px 0;
    border-bottom:0;
    font-size:11px;
}


.widget-title {
    font-size: 16px;
    padding: 0;
    margin-bottom: 20px;
    text-transform: none;
}


.panel-grid .widget-title {padding: 0px;}



/* Content highlight */

.content_highlight {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}



/* HOMEPAGE FEATURE */

.homepagefeature-container {margin-top: -105px;}
.homepagefeature-container .klasik-features {
    float: left;
    margin-bottom: 0px;
    width: 100%;
}

.widget-homepagefeature {
    padding-bottom: 22px;
    margin-bottom: 0px;
}

.widget-homepagefeature ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.widget-homepagefeature ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget-homepagefeature li li {
    list-style-type: none;
    margin: 0 0 3px 0;
    padding: 0 0 0px 0;
    border-bottom: 0;
}




/* Carousel */
.klasik-carousel-widget-wrapper .imgcarausel-text{ margin:0 0 24px;}
#carousel, .widget_klasik_pcarousel .flexslider-carousel {
    width: 89%;
    margin: 0px auto 0px;
}

#carousel li, .widget_klasik_pcarousel .flexslider-carousel li {
    padding: 0px 10px !important;
}

.flexslider-carousel .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */

.widget_klasik_pcarousel ul.flex-direction-nav a {
    width: 18px;
    height: 26px;
    margin: -15px 0 0;
    display: block;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 1;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.widget_klasik_pcarousel .flex-direction-nav .flex-next {
    right: -50px !important;
    top: 50%;
    position: absolute;
}

.widget_klasik_pcarousel .flex-direction-nav .flex-prev {
    left: -50px !important;
    top: 50%;
    position: absolute;
}

#sidebar .widget_klasik_pcarousel .flex-direction-nav .flex-next,
#footersidebar .widget_klasik_pcarousel .flex-direction-nav .flex-next {
    right: -13px !important;
}

#sidebar .widget_klasik_pcarousel .flex-direction-nav .flex-prev,
#footersidebar .widget_klasik_pcarousel .flex-direction-nav .flex-prev {
    left: -12px !important;
}



/*======== Action Widget =========*/

.klasik-action-widget h1{ font-size:18px;}
.klasik-action-widget h2{ font-size:14px; }
.klasik-action-widget .action-button{ margin:20px 0 0px 0; }
.klasik-action-widget .action-button .button{
    border:0px;
    display:inline-block;
    padding: 10px 25px 10px 24px;
    margin:0 10px 10px;
    font-size:13px;
    line-height:13px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}



/* Testimonial Widget */

.klasik-testimonial-widget{
    margin-bottom: -30px;
    width: 100%;
    float: left;
}

.klasik-testimonial-widget .titem {margin-bottom: 30px;}
.klasik-testimonial-widget-wrapper .testi-text{ margin:0 0 24px;}


.klasik-testimonial-widget .testi-img img{
    margin:0px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.klasik-testimonial-widget .testi-img .image{
    margin:0px 20px 0 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    float:left;
}

.klasik-testimonial-widget .testi-quote-wrap{ overflow:hidden}
.klasik-testimonial-widget .testi-quote:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    font-family: Georgia, serif;
    font-size: 4em;
    line-height: 1;
    margin: 0;
    vertical-align: -0.4em;
}
.klasik-testimonial-widget .testi-quote{
    quotes: "";
    clear: both;
    font-style: normal;
    line-height: 20px;
    margin: 0 0 0px 0;
    padding: 0 0px 0 0px;
    position:relative;
}

.klasik-testimonial-widget .testi-title{ font-size:13px; margin:9px 0 0 0}
.klasik-testimonial-widget .testi-tag .tags:before {
    content: "";
    cursor: default;
    margin: 0 0px;
}
.klasik-testimonial-widget .testi-tag {
    display: block;
    font-weight:normal;
    font-style:italic;
    font-size:11px;
}


#sidebar .klasik-testimonial-widget .titem,
#footersidebar .klasik-testimonial-widget .titem{ text-align:center}

#sidebar .klasik-testimonial-widget .testi-img .image,
#footersidebar .klasik-testimonial-widget .testi-img .image  {
    display: inline-block;
    float: none;
    margin: 0 0 20px;
}

#sidebar .klasik-testimonial-widget .testi-quote-wrap,
#footersidebar .klasik-testimonial-widget .testi-quote-wrap { overflow:inherit;}

#sidebar .klasik-testimonial-widget .testi-img,
#footersidebar .klasik-testimonial-widget .testi-img{ text-align:center;}


/* Team Widget */
.klasik-team-widget {
    margin-bottom: -30px;
    width: 100%;
    float: left;
}

.klasik-team-widget .item-container{margin-bottom:30px;}
.klasik-team-widget-wrapper .team-text{ margin:0 0 24px;}

.klasik-team-widget .team-image{ margin:0px;}
.klasik-team-widget .team-image img{ display:block; width:100%; height:auto}
.klasik-team-widget .team-image .image {margin: 0 0 12px;}
.klasik-team-widget .team-title {font-size: 16px; margin: 0;}
.klasik-team-widget .team-tag { font-size: 12px; font-style: italic;}
.klasik-team-widget .team-text { margin:8px 0 0;}


/*======= Featured Pages Widgets =======*/
.klasik-features {
    margin-bottom: -40px;
    width: 100%;
    float: left;
}

.klasik-features { text-align: center;}
.klasik-features .item-container { text-align: center; margin-bottom: 40px;}
.klasik-features-widget-wrapper .features-text{ margin:0 0 24px;}

.klasik-features .img-container .image{ float:none;  margin: 0px 0 0 0px; }
.klasik-features .img-container img { float:none;  margin: 0 0;}

.klasik-features .img-container {
    float: none;
    margin: 0px;
    padding: 15px;
    text-align: center;
}
.klasik-features .imageoff .img-container{ display:none}
.klasik-features h3.feature-title {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-transform: none;
    margin-bottom: 0px;
    margin-top: 15px;
}
.klasik-features .feature-text {
    clear: both;
    margin-top: 15px;
}

.klasik-features .fa{
    font-size:18px;
    vertical-align:middle;
    margin:0 0;
}




/*** PORTFOLIO ***/
.klasik-portfolionew.nopagenum{
    margin-bottom: -40px;
    width: 100%;
    float: left;
}

.klasik-portfolionew .item {
    margin-bottom: 40px;
}
.klasik-portfolionew-widget-wrapper .portfolionew-text{ margin:0 0 34px;}
.klasik-portfolionew .portfolionewlist .item{display:inline-block; float:none;}
.klasik-pfnew-img{position:relative; overflow:hidden;}
.klasik-pfnew-img img{display:block;}

.klasik-pfnew-img{margin-bottom: 18px;}
.imageoff .klasik-pfnew-img{ display:none}

.pfzoom, .pflink, .pfdetail{
    display:block;
    position:relative;
    overflow:hidden;
}
.klasik-pfnew-img .rollover{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    z-index:10;
    display:none;
    cursor:pointer;
}

.klasik-pfnew-text {
    text-align: center;
}

.klasik-pfnew-text .pftitle {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}

.klasik-pfnew-text .textcontainer {
    border: 0px;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.klasik-pfnew-text .pf-more{ margin:15px 0 0 0}


.price {
    font-size: 20px;
    color: #332530;
    margin-bottom: 20px;
}

#sidebar .widget-gallery li {
    width: 41%;
    float: left;
    margin-bottom: 10px!important;
    padding-bottom: 0px!important;
    margin-right: 10px;
}

.widget-gallery li.nomargin {
    margin-right: 0px;
}

.widget-gallery li {
    border: 7px solid #fff;
}

.widget-gallery li img {
    display: block;
}

.klasik-pfnew-text a.more-link {
    display: inline-block;
}





/* Latest News Widgets */

.klasik-latestnews-widget.nopagenum{
    margin-bottom: -40px;
    width: 100%;
    float: left;
}

.klasik-latestnews-widget .recent-item {
    padding-bottom: 40px;
    margin-bottom: 40px;
    position:relative;
}
.klasik-latestnews-widget-wrapper .news-text{ margin:0 0 24px;}
.klasik-latestnews-widget .recent-item  > div.icon {
    height: 9px;
    width: 44px;
    bottom: -5px;
    left: 50%;
    margin-left: -22px;
    position: absolute;
    visibility: visible;
}

.klasik-latestnews-widget .recent-thumb .image{ margin-bottom:15px;}
.klasik-latestnews-widget .recent-thumb img {
    float:none;
    height: auto;
    width:100%;
    margin: 0 0px 0 0;
    display:block;

}
.klasik-latestnews-widget .recent-text-wrap{ overflow:inherit}
.klasik-latestnews-widget .recent-title{
    font-size:20px;
    line-height: normal;
    margin: 0 0 10px;
    word-wrap: break-word;
    overflow:inherit;
}
.klasik-latestnews-widget .smalldate{
    font-size: 12px;
    margin: 0;
    padding: 0 ;
}
.klasik-latestnews-widget .smalldate .date {
    padding: 2px 0px 3px 24px;
    display: inline-block;
}
.klasik-latestnews-widget .smalldate .text-sep{ padding:0 9px 0}
.klasik-latestnews-widget .recent-text{clear:both; margin-top:10px;}
.klasik-latestnews-widget .recent-link{clear:both; margin-top:16px;}

/* one columns */

.klasik-latestnews-widget .twelve .recent-thumb .image{float: left; width: 285px; height: 167px; margin: 0 20px 0 0;}
.klasik-latestnews-widget .twelve .recent-text-wrap{ overflow:hidden}

#sidebar .klasik-latestnews-widget .recent-thumb .image,
#footersidebar .klasik-latestnews-widget .recent-thumb .image{float:none; width:auto; height:auto; margin:0px 0px 15px 0px; }



/* search widget */

#searchform {
    position: relative;
    width: 100%;
}

#searchform #s {
    width: 94%;
    background:transparent!important;
    padding: 8px 8px;
    border: 0;
}
.widget-container #searchform #s {width: 80%;}
.searchbutton {
    position: absolute;
    top: 6px;
    right: 0px;
    cursor: pointer;
}


/* Tag */

.tagcloud a, #footersidebar .tagcloud a {
    padding: 2px 10px;
    margin: 0 4px 6px 0 !important;
    display: inline-block;
    font-size: 11px !important;
}

.tagcloud a:hover {
}

.entry-tag {
    font-size: 12px;
    padding: 0px 0 0;
}

.entry-tag .tag-items {
    display: inline-block;
}

.entry-tag .tag-text {
    margin-right: 5px;
}

.entry-tag .tag-items span:after {
    content: ',';
    margin-right: 5px;
}

.entry-tag .tag-items span:last-of-type:after {
    display: none;
}





/* 6. SIDEBAR
-------------------------------------------------------------------*/


#sidebar.positionleft {float: left;}
#sidebar.positionright {float: right;}
#sidebar.positionright div.widget-area {padding-right: 0px;}
#sidebar.positionright div.widget-area {padding-left: 0px;}

#sidebar .widget-title, .gallery-title {
    font-size: 16px;
    padding: 8px 10px 10px 16px;
    margin-bottom: 20px;
    text-transform: none;
}

#sidebar ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    clear: both;
}

#sidebar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar .widget-container {
    margin-bottom: 40px;
    padding: 0 0 0 0;
}

#sidebar li li {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 6px 0;
}

#sidebar li li a:hover, #sidebar li li a.active {
    text-decoration: none;
}

#sidebar ul.sub-menu, #sidebar ul.children, #sidebar ul ul ul {
    margin: 0 0 0 0px;
}

#sidebar ul.sub-menu a {
    padding: 0 0 0 10px;
}

#sidebar ul.sub-menu ul.sub-menu a {
    padding: 0 0 0 20px;
}

#sidebar ul.sub-menu ul.sub-menu ul.sub-menu a {
    padding: 0 0 0 30px;
}

#sidebar ul.children a {
    padding: 0 0 0 10px;
}

#sidebar ul.children ul.children a {
    padding: 0 0 0 15px;
}

#sidebar ul.children ul.children a {
    padding: 0 0 0 20px;
}

#sidebar ul.sub-menu li {
    margin: 0 0 0 0;
    padding: 6px 0 0  0;
}

#sidebar ul.children li {
    margin: 0 0 0 0;
    padding: 6px 0 0  0;
}




/*==== Tables ====*/

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 18px;
}

table,td,th {
    text-align: center;
}

th {
    padding: 10px;
    text-transform: uppercase;
}

td {
    padding: 10px;
}

tfoot td {
    border: 0px;
}

th,tr:hover {
}

table {
    text-align: left;
    margin: 0 -1px 24px 0;
    width: 100%;
}

tr th,

thead th {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}

tr td {
    padding: 6px 24px;
}

tr.odd td {
}




/* 7. FOOTER SIDEBAR
-------------------------------------------------------------------*/

#outerfootersidebar {
    padding: 40px 0 0 0;
}

#footersidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footersidebar li.widget-container {
    list-style-type: none;
    margin: 0 0px 30px 3px;
}

#footersidebar #footcol1 li.widget-container {
    margin-left: 0px;
}

#footersidebar .widget-title {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 25px 0;
    padding: 0 0 15px 0;
}

#footersidebar li li {
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
}

#footersidebar li li:last-child {
    padding-bottom: 0px;
}

#footersidebar li li li:last-child {

    padding-bottom: 0px;
    margin-bottom: 0px;
}

#footersidebar li a:hover {
    text-decoration: none;
}

#footersidebar ul.sub-menu, #footersidebar ul.children, #footersidebar ul ul ul {
    margin: 0 0 0 0px;
}

#footersidebar ul.sub-menu a {
    padding: 0 0 0 10px;
}

#footersidebar ul.sub-menu ul.sub-menu a {
    padding: 0 0 0 20px;
}

#footersidebar ul.sub-menu ul.sub-menu ul.sub-menu a {
    padding: 0 0 0 30px;
}

#footersidebar ul.children a {
    padding: 0 0 0 10px;
}

#footersidebar ul.children ul.children a {
    padding: 0 0 0 15px;
}

#footersidebar ul.children ul.children a {
    padding: 0 0 0 20px;
}

#footersidebar ul.sub-menu li:first-child {
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
}

#footersidebar ul.children li:first-child {
    margin: 0 0 3px 0;
    padding: 0 0 3px 0;
}

.gallery-pic a:nth-child(3) img, .gallery-pic a:nth-child(6) img {
    margin-right: 0px!important;
}

.gallery-pic img {
    margin: 0 12px 12px 0;
    display: block;
    float: left;
    padding: 3px;
}





/* 8. FOOTER

-------------------------------------------------------------------*/

#footer {
    padding: 45px 0 40px;
}

#footer {
    font-size: 12px;
}

#footertext-wrap {
    float: left;
}

#footer a, #footer a:visited {
}

#toTop {
    cursor: pointer;
    font-size: 12px;
    height: 13px;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 9px;
}







/* 9. PLUGIN

-------------------------------------------------------------- */


/* Widget Page Nav*/
ul.page-numbers li  { padding:0px!important; border:0px; margin: 0 0px!important; clear:none!important; font-family: 'Amethysta', serif;}

.page-numbers a,
.page-numbers span {
    display: block;
    padding: 0 ;
    height: 14px;
    width:14px;
    line-height: 14px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}



/* WP-PageNavi  Plugin  */

.wp-pagenavi {
    padding: 0;
    font-size: 14px;
    margin: -10px 0 20px 0;
    clear: both;
}

.wp-pagenavi .pages {
    padding: 0px 10px 0px 0px;
    border: 0px;
}

div.wp-pagenavi a, div.wp-pagenavi a:visited {
    padding: 5px 0px;
    margin: 0 4px;
    border: 0px;
}

div.wp-pagenavi span.current {
    padding: 5px 0px;
    margin: 0 4px;
    font-weight: normal;
}

.wp-pagenavi a, .wp-pagenavi span {
    border: 0!important;

}

/* Flickr Plugin  */

#flickr {
    text-align: left !important;
    padding: 0;
}

div#flickr div.flicr_badge_image:nth-child(3) img, #flickr div.flicr_badge_image:nth-child(6) img {
    margin-right: 0px!important;
}

div#flickr img {
    margin: 0 8px 12px 0;
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    padding: 4px !important;
}

#flickr img {
    border: 0px !important;
    background-color: #494949;
}

* html .flickr_badge_image, *+html .flickr_badge_image {
    display: inline !important;
}

.flickr_badge_image:hover {
}



/* Contact Form  */

.wpcf7 p {
    margin-bottom: 10px;
}

.wpcf7 label {
    display: block;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"] {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 40%;
}

.wpcf7 textarea {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 11px;
    width: 55%;
}

.wpcf7-submit {
    margin: 0;
}



/* Social Icons Widget */
#sidebar .simple-social-icons ul li,
#footersidebar .simple-social-icons ul li {
    list-style-type: none;
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
    margin: 0px 7px 10px 0px !important;
}


